{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}

<!DOCTYPE html>
<html>
<head>
	<title>Oostaoo Consulting</title>
</head>
<body>
   <center>
<img src="{{ asset('images/logo.png') }}"/>
   </center>
</body>
</html>

{% endblock fos_user_content %}